
<div class="container">
  <div class="row">
      <div class="col-xs-12 col-md-12">
          <h1 class="text-muted">Latest Detected</h1><hr>          
      </div>  
  </div>  
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12" ng-controller="DetectionsController">
           
        <div class="well well-md">
          
          <div class="row">
            <div class="col-md-12">
              
              <table class="table table-hover">
                <thead class="head">
                    <th>_ID</th>
                    <th>DATE</th>
                    <th>USER ID</th>
                    <th>HAS LOGGED IN</th>
                </thead>
                <tbody ng-repeat="detection in detections">
                  <tr class="success"><td>{{detection._id}}</td>                 
                  <td>{{detection.date}}</td>
                  <td>{{detection.userId}}</td>
                  <td>{{detection.hasLoggedIn}}</td></tr>                 
                </tbody>
              </table>  

            </div>
          </div>
        </div>
  </div>
</div>
